@import '../../styles/variables';


.home {
    position: relative;
    padding-left: 172px;
    padding-right: 98px;
    padding-bottom: 232px;
}


.add-user-btn {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: none;
    background-color: #305ECA;
    color: #FFFFFF;
    font-size: 2.4em;
    font-weight: 300;
    display: flex;
    justify-content: center;
    position: relative;
    left: -16px;
    top: -36px;
    cursor: pointer;
    text-decoration: none;
}


.home-table-container {
    margin-bottom: 42px;
}


.home-table {
    position: relative;
    width: 100%;

    .dropdown-icon {
        margin-left: 28px;
    }

    #user-dropdown-icon {
        margin-left: 8px;
    }

    thead {
        margin-bottom: 32px;
    }

    #table-headings {


        th {
            display: flex;
        }

        div {
            display: flex;
        }
    }


    .row {
        margin-left: 91px;
        padding-bottom: 31px;
        padding-top: 37px;
        border-bottom: 1.87px solid #D8D8D8;
        display: flex;
        align-items: center;
        font-size: 0.8em;
        font-weight: 600;

        #user-heading,
        #user-info {
            width: 40%;
        }



        #status-heading {
            justify-content: center;
        }

        #actions-heading {
            justify-content: end;
            margin-right: 38px;
            width: 10%;

        }

        th,
        td {
            width: 25%;
            display: flex;
        }

        #user-info {
            flex-direction: column;
            justify-content: center;
        }


        #user-role {
            flex-direction: row;
            align-items: center;
            position: relative;
        }

        #user-status {
            justify-content: center;
            padding-right: 28px;
        }

        #user-actions {
            align-items: center;
            justify-content: end;
            margin-right: 28px;
            width: 10%;
        }

        .table-email {
            font-weight: 300;
        }

    }

}


.table-user-icon {
    position: absolute;
    left: 0;
    width: 45px;
    height: 45px;
}

.settings-icon {
    margin-right: 24px;
    cursor: pointer;

    &:hover {
        fill: #44A0D3;
    }

}

.bin-icon:hover {
    fill: #FF0000;
}

.key-icon-active {
    background-color: #7E7EF1;
    border-radius: 30px;
    padding: 5px 12px;
    left: -62px;
    position: absolute;
}

.key-icon-disabled {
    padding: 5px 12px;
    left: -62px;
    position: absolute;
}


.disabled {
    opacity: 35%;
}

.status-toggle-icon {
    cursor: pointer;
}


.records-dropdown-icon {
    cursor: pointer;
}

.records {
    position: relative;
    width: 200px;

}


.records-dropdown {
    width: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -50px;
    top: 40px;
    animation: fade-in 0.3s;

    @keyframes fade-in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}


.records-input {
    cursor: pointer;
    border: none;
    font-size: 0.8em;
    background-color: white;
    padding: 5px;
    border-bottom: 2px solid $background-color;
    text-align: center;
}


.records-pagination {
    display: flex;
    justify-content: space-between;
}

.pagination {
    margin-right: 28px;

}

.page {
    margin-right: 17px;
    text-decoration: none;
    color: $primary-text-color;
    font-weight: bold;
    font-size: 0.8em;
}

.active {
    box-shadow: 0px 3px 6px #00000029;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #C6C6C6;
}

.page-direction {
    font-weight: 300;

    &:hover {
        text-decoration: underline;

    }
}