.settings-page-icon {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: none;
    background-color: #C6C6C6;
    font-size: 2.4em;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -14px;
    top: -36px;
    cursor: pointer;
    text-decoration: none;


}

.user-setup-container {
    .photo-section {
        display: flex;
        flex-direction: column;

        .photo-icon-container {
            position: relative;
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
        }

      

        .photo-icon {
            width: 210px;
            height: 210px;
            position: absolute;

           
        }

        .photo-key-icon {
            position: absolute;
            background-color: #7E7EF1;
            border-radius: 30px;
            padding: 14px 26px;
            right: -10px;
            bottom: 10px;
        }

    }

}