.new-user-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #0000008F;


}



.new-user-modal-container {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 30px #00000029;
    width: 646px;
    height: 570px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    padding: 72px 83px 79px 73px;

    h1 {
        font-size: 1.8em;
        margin-left: 50px;
        margin-bottom: 81px;
    }
}


.new-user-form {
    input {
        border: none;
        border-bottom: 2px solid #C6C6C6;
        outline: none;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;


        &:focus~label,
        &:not(:placeholder-shown)~label {
            color: #33A3DC;
            top: -25px;
        }
    }



    .form-container {
        margin-top: 62.5px;
        display: flex;
        position: relative;

        #first-name-input {
            margin-right: 5px;
        }



        div {
            width: 100%;
            position: relative;
        }

        #first-name-container {
            margin-right: 5px;
        }

        label {
            font-size: 0.8em;
            position: absolute;
            top: 0;
            left: 0;
            color: #C6C6C6;
            cursor: text;
            height: 1px;

        }

    }


    .form-role {
        input {
            width: 217px;
        }

        label {
            left: 50px;
        }
    }

    .form-email {
        label {
            left: 50px;
        }
    }

    .send-input {
        color: #979797;
        background: #C6C6C6;
        font-weight: 600;
        width: 142px;
        border-radius: 20px;
        padding: 10px 16px;
        margin-left: 50px;
        cursor: pointer;
    }

    .validated-btn {
        color: #FFFFFF;
        background-color: #33A3DC;
    }

    .submit-form-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;

    }

    .form-validation {
        color: #F89797;
        font-weight: 300;
    }

    .validated {
        color: #44D36A;
    }
}



.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 20px;
    cursor: pointer;
}

.form-icon {
    margin-right: 27px;
}